.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: large;
  user-select: none;
  margin: 0.5rem;

  width: 100%;
  max-width: 24rem;

  label {
    text-align: left;
    width: 8rem;
  }
  
  select {
    display: inline-block;
    font-size: large;

    width: 100%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;

    color: rgb(0, 0, 0);
    
    transition: all 0.25s ease-in-out;
    
    &:not(:disabled):hover {
      border: 1px solid white;
      background-color: rgb(255, 255, 255);
    }
    
    &:not(:disabled):focus {
      outline: none;
      background-color: white;
      color: black;
    }
    
    &:disabled {
      border: 1px solid black;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }

    &::placeholder {
      color: rgb(0, 0, 0);
    }

    &[type="radio"] {
      appearance: none;
      margin: auto;
      text-align: center;

      width: 100%;

      &::before {
        content: attr(data-content);
      }

      &:checked {
        background-color: white;
        color: black;
      }
    }
  }

}