$white_color: white;
$black_color: #151f42;
$first_color: #d85d2d;
$second_color: #c22701;
$border_radius: 10px;
$border_width: 2px;
$font_regular: Poppins_Regular;
$font_bold: Poppins_Bold;
$font_light: Poppins_Light;