@import "../../../styles/variables.scss";

.btn {
  padding: 20px 120px;

  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 200;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all;
  &__primary {
    background: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 30px;
    &:hover {
      background: $second_color;
      border: 1px solid white;
      color: white;
    }
  }
  &__secondary {
    background: white;
    border: 1px solid black;
    &:hover {
      background: black;
      color: white;
    }
  }
}

.logout {
  width: 40%;
  border-radius: 5px;
}

.logout {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  color: $first_color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all;
  &__primary {
    background: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 30px;
    &:hover {
      background: white;
      border: 1px solid $first_color;
      color: $first_color;
    }
  }
  &__secondary {
    background: white;
    border: 1px solid black;
    &:hover {
      background: black;
      color: white;
    }
  }
}

.register {
  position: relative;
  width: 100%;
  margin: 5%;

  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}

.register {
  display: inline-block;
  padding: 10px 100px 10px;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all;
  &__primary {
    background: white;
    color: black;
    &:hover {
      background: $black_color;
      color: white;
      border: 1px solid $black_color;
    }
  }
}
