.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  height: 100vh;
  align-items: center;
  .left__part {
      width: 50%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      background-color: #e8e4e4;
      .form__wrapper {
          width: 350px;
          margin: 0 auto;
      }
  }
  .right__part {
      width: 50%;
      background-color: #ffffff;
      .wrapper {
          justify-content: center;
      }
      img {
          width: 150px;
          height: auto;
      }
  }
}